<h1>Congratulations, it's a candidate!</h1>

<p>
  Hello <%= @user %>,<br /> you are now the current owner of <%= @candidate %> and you are expected to "<%= @step %>". Please do that and <%= link_to "report your status", candidate_url(@candidate) %>.
</p>
<p>
  Thanks, love Karl.
</p>
