<footer class="footer">
  <small>
    by Jon Bauman & David Kushi
  </small>
  <nav>
    <ul>
      <li>Problems, questions, etc: <%= mail_to "jon.bauman@isilon.com" %></li>
    </ul>
  </nav>
</footer>